@model IEnumerable<userprice.Models.MoneyTransactions>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceCont)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceGr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalenceTip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opaoperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceCont)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceGr.ExchangeRateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalenceTip.ExchangeRateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opaoperation.OperationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserLastname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MoneyTransactionsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MoneyTransactionsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MoneyTransactionsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
